
# API
# Node.js
# OS
# Python
*$py.class
*.py[cod]
.DS_Store
.playwright/
.pytest_cache/
Thumbs.db
__pycache__/
api/newman/
api/node_modules/
api/package-lock.json
blob-report/
e2e/.pytest_cache/
e2e/report.html
e2e/tests/__pycache__/
e2e/venv/
node_modules/
npm-debug.log*
package-lock.json
playwright-report/
test-results/
venv/
